main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 70%;
    height: auto;
    /* Se ajusta automáticamente al tamaño de las imágenes */
    overflow: hidden;
    /* Evita que las imágenes se desborden */
    background: rgba(57, 92, 173, 0.7);
}

/* Hide the images by default */
.mySlides {
    position: relative;
    width: 100%;
    height: 60vh;
    opacity: 0;
    transition: opacity 1.5s ease;
}


/* Mostrar la primera imagen */
.mySlides:first-child {
    opacity: 1;
}

.slide1 {
    background: linear-gradient(180deg, rgba(57,92,173,1) 16%, rgba(57,92,173,0) 62%);
}

.slide2 {
    background: linear-gradient(180deg, rgba(57,92,173,0) 62% , rgba(57,92,173,1) 16% );
}

.slide3 {
    background: linear-gradient(180deg, rgba(57,92,173,1) 16%, rgba(57,92,173,0) 62%);
}

.slide4 {
    background: linear-gradient(180deg, rgba(57,92,173,0) 62% , rgba(57,92,173,1) 16%) ;
}